.App {
  margin: 0;
  padding: 0 10%;
}

.title {
  color: rgb(247, 82, 145);
  margin-bottom: 50px;
  margin-top: 0;
  z-index: 9999;
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 25px;
}

.subTitle {
  z-index: 9999;
  position: relative;
}

.searchBySpan {
  z-index: 9999;
  position: relative;
}
