.checkbox {
  display: block;
  position: relative;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxText {
  text-transform: uppercase;
  padding: 3px 20px;
  background-color: rgb(87, 87, 87);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  z-index: 999;
  position: relative;
  margin-left: 20px;
}

.checkbox input:checked + .checkboxText {
  background-color: rgb(245, 90, 150);
}
