.moviesContainer {
  padding: 0 10%;
  min-height: calc(100vh - 352px);
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.moviesTopBar {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.chooseMovieFilter {
  display: flex;
  justify-content: space-between;
}

p {
  margin-top: 0;
}
